[run]
branch = True
source =
    pico_boot
omit =
    */_version.py

[paths]
pico_boot =
    src/pico_boot
    .tox/*/lib/*/site-packages/pico_boot
    .tox/*/site-packages/pico_boot
    */site-packages/pico_boot

[report]
show_missing = True

